<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>我的道友</h1>
            <div id="myFriendsInfo" style="position: relative;"></div>
        </div>

        <div class="header">
            <h3>邀请道友</h3>
            <div id="myInviteFriends" style="position: relative;"></div>
        </div>

         <div class="header">
            <h3>道友邀请</h3>
            <div id="inviteMyFriends" style="position: relative;"></div>
        </div>
        
        <div class="card">
            <h3>查找道友</h3>
            <div style="display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 1rem;">
                <input type="text" id="searchInput" class="form-control" placeholder="输入名称或是邮箱查找道友">
                <button id="searchButton" class="btn btn-primary" onclick="searchUser()">查找</button>
            </div>
        </div>
    </div>

    <!-- 查询用户模态框 -->
    <div id="friendsModal" class="modal">
        <div class="modal-content ">
            <button type="button" class="modal-close" onclick="closeFriendsModal()" aria-label="关闭">×</button>
            <h2 class="gradient-text">查询结果</h2>
            <div id="friendsSearchResults"></div>
        </div>
    </div>

    {{template "navbar.html" .}}
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/friends.js"></script>
</body>
</html>
